body {
  font-family: sans-serif;
  text-align: center;
}

.header-container {
  padding: 20px;
}

.float-child-lhs,
.float-child-rhs {
  width: 50%;
  float: left;
}

.float-child-lhs {
  text-align: right;
}

.float-child-rhs {
  text-align: left;
}

#image-container {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 0px;
}

#image-container-width {
  width: 300px;
  margin: auto auto;
  position: relative;
}

#image {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  position: absolute;
  top: 20px;
  right: 0px;
  background-size: 100%;
  background-color: #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

a:focus #image,
#image:hover {
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
  cursor: pointer;
}

.funklet-machine {
  border: none;
  width: 100%;
  height: 275px;
}

h1,
h2,
.header {
  text-transform: uppercase;
}

h1,
h2,
select {
  color: red;
}

h1 {
  font-size: 45px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 28px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.select-container {
  width: 100%;
}

select {
  margin-top: 20px;
  min-width: 55%;
  text-align-last: center;
  font-weight: bold;
  font-size: 31px;
  border-style: dotted;
}

select:focus-visible {
  border-style: dotted;
}
