body {
  font-family: sans-serif;
  text-align: center;
}

h1,
h2,
.header {
  text-transform: uppercase;
}

h1,
h2,
select {
  color: red;
}

h1 {
  font-size: 45px;
}

iframe {
  margin-top: 20px;
  height: 250px;
  width: 100%;
}

select {
  text-align-last: center;
  font-weight: bold;
  font-size: 31px;
  border-style: dotted;
}

select:focus-visible {
  border-style: dotted;
}
